<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons (click)="dismiss()" slot="start">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>{{ 'lbldetalleproductotitle' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header style="padding: 5px;margin-bottom: 20px;margin-top: 10px;">
      <ion-card-title style="font-size: 24px; font-weight: bolder;">{{ data.product_code }}</ion-card-title>
    </ion-card-header>
    <ion-row>
      <ion-col>
        <div>
          {{ 'lbldetalleproductoSegment' | translate }}
        </div>
      </ion-col>
      <ion-col>
        <div *ngIf="language=='es' else elsesegment_name">
          {{ data.product_IdSegment.segment_name }}
        </div>
        <ng-template #elsesegment_name>
          {{ data.product_IdSegment.segment_name_pg }}
        </ng-template>        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          {{ 'lbldetalleproductoFanilyProduc' | translate }}
        </div>
      </ion-col>
      <ion-col>
        <div *ngIf="language=='es' else elsefamily_name">
          {{ data.product_IdFamily.family_name }}
        </div>
        <ng-template #elsefamily_name>
          {{ data.product_IdFamily.family_name_pg }}
        </ng-template>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          {{ 'lbldetalleproductoTypeProduc' | translate }}
        </div>
      </ion-col>
      <ion-col>
        <div *ngIf="language=='es' else elsecategory_name">
          {{ data.product_IdCategory.category_name }}
        </div>
        <ng-template #elsecategory_name>
          {{ data.product_IdCategory.category_name_pg }}
        </ng-template>
      </ion-col>
    </ion-row>
    <img *ngIf="data.product_image==''" src="assets/noimagen.png" />
    <img *ngIf="data.product_image!=''" src="{{ data.product_image | rutaarchivo}}" (error)="updateUrl($event, data)" style="width: 100%;" />
    <ion-card-content>
      <div *ngIf="language=='es' else elseproduct_description">
      {{ data.product_description }}
      </div>
      <ng-template #elseproduct_description>
        {{ data.product_description_pg }}pg
      </ng-template>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoldrtipico' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="language=='es' else elseproduct_LDR_tipico">
            <b>{{ data.product_LDR_tipico }}</b>
          </div>
          <ng-template #elseproduct_LDR_tipico>
            {{ data.product_LDR_tipico_pg }}
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoComercializationCountry' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_field_comercializationCountry }}</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoProductionCountry' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="language=='es' else elseproduct_production">
            <b>{{ data.product_production }}</b>
          </div>
          <ng-template #elseproduct_production>
            {{ data.product_production_pg }}
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoInfluenceonOptics' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="language=='es' else elseproduct_Influencia_Optica">
            <b>{{ data.product_Influencia_Optica }}</b>
          </div>
          <ng-template #elseproduct_Influencia_Optica>
            {{ data.product_Influencia_Optica_pg }}
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoproduct_Antibloqueo_Performance' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="language=='es' else elseproduct_Antibloqueo_Performance_pg">
            <b>{{ data.product_Antibloqueo_Performance }}</b>
          </div>
          <ng-template #elseproduct_Antibloqueo_Performance_pg>
            {{ data.product_Antibloqueo_Performance_pg }}
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoproduct_Migracion_Lenta_Rapida' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="language=='es' else elseproduct_Migracion_Lenta_Rapida">
            <b>{{ data.product_Migracion_Lenta_Rapida }}</b>
          </div>
          <ng-template #elseproduct_Migracion_Lenta_Rapida>
            {{ data.product_Migracion_Lenta_Rapida_pg }}
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoproduct_Slip_Performance' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="language=='es' else elseproduct_Slip_Performance">
            <b>{{ data.product_Slip_Performance }}</b>
          </div>
          <ng-template #elseproduct_Slip_Performance>
            {{ data.product_Slip_Performance_pg }}
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoproduct_Chemical_Resistance' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="language=='es' else elseproduct_Chemical_Resistance">
            <b>{{ data.product_Chemical_Resistance }}</b>
          </div>
          <ng-template #elseproduct_Chemical_Resistance>
            {{ data.product_Chemical_Resistance_pg }}
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoproduct_Comentario_General' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="language=='es' else elseproduct_Comentario_General">
            <b>{{ data.product_Comentario_General }}</b>
          </div>
          <ng-template #elseproduct_Comentario_General>
            {{ data.product_Comentario_General_pg }}
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoproduct_Ejemplo_de_aplicacion' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="language=='es' else elseproduct_Ejemplo_de_aplicacion">
            <b>{{ data.product_Ejemplo_de_aplicacion }}</b>
          </div>
          <ng-template #elseproduct_Ejemplo_de_aplicacion>
            {{ data.product_Ejemplo_de_aplicacion_pg }}
          </ng-template>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoproduct_Pelicula_agricola_solpada' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Pelicula_agricola_solpada | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoproduct_Pelicula_de_extrusion_plana_en_PE' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Pelicula_de_extrusion_plana_en_PE | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoproduct_peliculas_sopladas' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_peliculas_sopladas | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>      
      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoproduct_Pelicula_laminada' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Pelicula_laminada | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoproduct_Pelicula_de_extrusion_plana_en_PP' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Pelicula_de_extrusion_plana_en_PP | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoproduct_Film_de_PP_biorientado' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Film_de_PP_biorientado | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoproduct_Fibras_Raffia' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Fibras_Raffia | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoproduct_Fibras_telas_spun_bonded_y_no_tejidas' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Fibras_telas_spun_bonded_y_no_tejidas | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoproduct_Fibras' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Fibras | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoproduct_Moldeo_por_soplado' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Moldeo_por_soplado | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoproduct_Moldeo_por_inyeccion' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Moldeo_por_inyeccion | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoproduct_Moldeo_por_compresion' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Moldeo_por_compresion | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoproduct_Compuestos' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Compuestos | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoproduct_Extrusion_de_tuberia' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Extrusion_de_tuberia | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoproduct_Tuberia_de_irrigacion_por_goteo' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Tuberia_de_irrigacion_por_goteo | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoproduct_Extrusion_de_laminas_placas' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Extrusion_de_laminas_placas | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoproduct_Cables' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Cables | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoproduct_Extrusion_de_perfiles' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Extrusion_de_perfiles | formatCheck }}</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lbldetalleproductoproduct_Moldeo_rotomoldeo' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Moldeo_rotomoldeo | formatCheck }}</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ 'lbldetalleproductosectiondocument' | translate }} Español</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <li *ngFor="let archivo of data.product_link.split('|')">
              <a target="blank" href="{{ archivo | rutaarchivo}}" mat-menu-item>{{ archivo }}</a>
            </li>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ 'lbldetalleproductosectiondocument' | translate }} Portuguez</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <li *ngFor="let archivo of data.product_link_pg.split('|')">
              <a target="blank" href="{{ archivo | rutaarchivo}}" mat-menu-item>{{ archivo }}</a>
            </li>
          </div>
        </ion-col>
      </ion-row>

    </ion-card-content>

  </ion-card>

</ion-content>
<ion-footer>
  <ion-button *ngIf="!procesando" (click)="pushPage(data._id)" expand="block">Quote Product</ion-button>
  <ion-button *ngIf="procesando" disabled (click)="pushPage(data._id)" expand="block">Quote Product</ion-button>
</ion-footer>