<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'titleinnovation' | translate }}</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar placeholder="{{ 'innovationbuscar' | translate }}" [(ngModel)]="searchString" (ionInput)="getItems($event)"
      (ionClear)="onClear($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let sectioinArray of datos">
    <ion-card-header>
      <ion-card-title>{{sectioinArray.product_code}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="language=='es' else elseidioma">
        <b>{{ 'innovationproducto' | translate }} :</b> {{sectioinArray.product_name}}<br>
        <b>{{ 'innovationdescription' | translate }} :</b> {{sectioinArray.product_description}}<br>
      </div>
      <ng-template #elseidioma>
        <b>{{ 'innovationproducto' | translate }} :</b> {{sectioinArray.product_name_pg}}<br>
        <b>{{ 'innovationdescription' | translate }} :</b> {{sectioinArray.product_description_pg}}<br>
      </ng-template>
    </ion-card-content>
    <ion-button (click)="pushPage(sectioinArray)" expand="block">{{ 'innovationdetalleproducto' | translate }}</ion-button>
  </ion-card>
</ion-content>
