<ion-header>
  <ion-toolbar color="primary">
    <!--<ion-title>{{ 'lblTitleHome' | translate }}</ion-title>-->
      <div style="float: left; margin-top: 5px;">
        <ion-buttons>
          <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
      </div>
      <div style="width: 75%; float: left; margin-top: 5px;">
        <ion-searchbar placeholder="{{ 'lblbuscarholder' | translate }}" [(ngModel)]="searchString"
  (ionInput)="getItems($event)"  (change)="searchEnter($event)" (ionClear)="onClear($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
      </div>

      <div  class="active" style="margin: 5px;float: left;" >        
        <img src="assets/filtro.png" (click)="pushPageFilter()" style="width: 34px;">
      </div>  
      
    <div #primariob>      
      <div style="clear: both;" #panel class="inactive">

        <ion-list>
          <!--<ion-list-header lines="inset">
            <ion-label>{{nivel1.segment_name}}</ion-label>
            <ion-button (click)="limpiar(1)">{{ 'btnClear' | translate }}</ion-button>
          </ion-list-header>
          <ion-list-header lines="inset">
            <ion-label>{{nivel2.family_name}}</ion-label>
            <ion-button (click)="limpiar(2)">{{ 'btnClear' | translate }}</ion-button>
          </ion-list-header>
          <ion-list-header lines="inset">
            <ion-label>{{nivel3.category_name}}</ion-label>
            <ion-button (click)="limpiar(3)">{{ 'btnClear' | translate }}</ion-button>
          </ion-list-header>-->
          <ion-list-header lines="inset" *ngFor="let sectioinArray of filtrosSeleccionadoSegmento">
            <ion-label style="margin-top: 0px!important; font-weight: normal; font-size: medium;">[S] - {{ sectioinArray.segment_name }}</ion-label>
            <ion-button style="margin-top: 0px!important;" (click)="removeFiltroSegment(sectioinArray)">{{ 'btnClear' | translate }}</ion-button>
          </ion-list-header>
          <ion-list-header lines="inset" *ngFor="let sectioinArray of filtrosSeleccionadoFamilia">
            <ion-label style="margin-top: 0px!important; font-weight: normal; font-size: medium;">[F] - {{ sectioinArray.family_name }}</ion-label>
            <ion-button style="margin-top: 0px!important;" (click)="removeFiltrofamilia(sectioinArray)">{{ 'btnClear' | translate }}</ion-button>
          </ion-list-header>
          <ion-list-header lines="inset" *ngFor="let sectioinArray of filtrosSeleccionadoTipo">
            <ion-label style="margin-top: 0px!important; font-weight: normal; font-size: medium;">[C] - {{ sectioinArray.category_name }}</ion-label>
            <ion-button style="margin-top: 0px!important;" (click)="removeFiltrocategoria(sectioinArray)">{{ 'btnClear' | translate }}</ion-button>
          </ion-list-header>
          <ion-list-header lines="inset" *ngFor="let sectioinArray of filtrosSeleccionado">
            <ion-label style="margin-top: 0px!important; font-weight: normal; font-size: medium;">[A] - {{ sectioinArray.id | translate }}</ion-label>
            <ion-button style="margin-top: 0px!important;" (click)="removeFiltro(sectioinArray)">{{ 'btnClear' | translate }}</ion-button>
          </ion-list-header>
          <ion-list-header lines="inset" *ngFor="let sectioinArray of filtrosSeleccionadoRegulatory">
            <ion-label style="margin-top: 0px!important; font-weight: normal; font-size: medium;">[R] - {{ sectioinArray.regulatory_name | translate }}</ion-label>
            <ion-button style="margin-top: 0px!important;" (click)="removeFiltroregulatory(sectioinArray)">{{ 'btnClear' | translate }}</ion-button>
          </ion-list-header>
        </ion-list>
        <ion-button (click)="pushPageFilter()">{{ 'btnaddfilter' | translate }}</ion-button>
        <ion-button (click)="limpiarFiltros()">{{ 'lblbtnclearfilter' | translate }}</ion-button>
      </div>
    </div>
    <img src="assets/2C.jpg"  style="width: 100%;">
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <!--<div #favorito class="active">
   
    <ion-card-content style="padding: 5px;">
      <div style="border-bottom: 1px solid #cccccc;">
      <div style="float: right; ">
        <h2 style="margin-left: 20px;font-size: 21px;margin-top: 7px;margin-right: 5px;">
          {{ 'lblTitleBienvenido' | translate }}
        </h2>
      </div> 
      <div>
        <div class="fire-logo" style="flex-direction: row;padding: 5px;justify-content: end;">          
          <img src="assets/logo.jpg" style="width: 30px;" class="img-logo">
          <ion-text padding>
            <h2 style="margin-top: 10px; font-weight: bold;" no-margin margin-vertical text-center>AMPACET</h2>
          </ion-text>
        </div>
      </div>       
        
      </div>
    </ion-card-content>
    <h2 style="margin-left: 20px;">
      {{ 'titulofavoritos' | translate }}
    </h2>
    <ion-card *ngFor="let sectioinArray of FavoritoArray">
      <ion-card-header>
        <ion-card-title>
          <div *ngIf="language=='es' else elsefavorito_namexx">
            {{ sectioinArray.favorito_name}}  {{sectioinArray.favorito_product_Id.product_code}}  
          </div>
          <ng-template #elsefavorito_namexx>
            {{ sectioinArray.favorito_name_pg}} {{sectioinArray.favorito_product_Id.product_code}}  
          </ng-template>          
        </ion-card-title>
      </ion-card-header>
      <img *ngIf="sectioinArray.favorito_product_Id.product_image==''" src="assets/noimagen.png" />
      <img *ngIf="sectioinArray.favorito_product_Id.product_image!=''"
        src="{{ sectioinArray.favorito_product_Id.product_image | rutaarchivo | async}}"  style="width: 100%;"/>
      <ion-card-content>
        <div *ngIf="language=='es' else elseproduct_descriptionxx">
          {{sectioinArray.favorito_product_Id.product_description | slice:0:200}}
        </div>
        <ng-template #elseproduct_descriptionxx>
          {{sectioinArray.favorito_product_Id.product_description_pg | slice:0:200}}
        </ng-template>
      </ion-card-content>
      <ion-button (click)="pushPageFavorito(sectioinArray.favorito_product_Id)" expand="block">
        {{ 'btndetalleProducto' | translate }}</ion-button>
    </ion-card>
    <ion-card *ngIf="FavoritoArray.length == 0">
      <ion-card-content>
        <b>{{ 'lblProductosfrecuentes' | translate }}</b>
      </ion-card-content>    
    </ion-card>
  </div>-->

  <div #primario>
   <!-- <div #segmento class="inactive">
      <h2 style="margin-left: 20px;">
        {{ 'titleSegment' | translate }}
      </h2>

      <ion-list>
        <ion-item *ngFor="let sectioinArray of SegmentArray">
          <ion-avatar slot="start">
            <img src="assets/s.png">
          </ion-avatar>
          <ion-label>
            <div *ngIf="language=='es' else elseidiomsegment_name_pg">
              <h2>{{sectioinArray.segment_name}}</h2>
            </div>
            <ng-template #elseidiomsegment_name_pg>
              <h2>{{sectioinArray.segment_name_pg}}</h2>
            </ng-template>
          </ion-label>
          <ion-button (click)="seleccionarSegmento(sectioinArray)">{{ 'lblSeleccionar' | translate }}</ion-button>
        </ion-item>
      </ion-list>
    </div>

    <div #family class="inactive">
      <h2 style="margin-left: 20px;">
        {{ 'titlefamilia' | translate }}
      </h2>

      <ion-list>
        <ion-item *ngFor="let sectioinArray of FamilyArray">
          <ion-avatar slot="start">
            <img src="assets/f.png">
          </ion-avatar>
          <ion-label>
            <div *ngIf="language=='es' else elsefamily_name">
              <h2>{{sectioinArray.family_name}}</h2>
            </div>
            <ng-template #elsefamily_name>
              <h2>{{sectioinArray.family_name_pg}}</h2>
            </ng-template>
          </ion-label>
          <ion-button (click)="seleccionarFamilia(sectioinArray)">{{ 'lblSeleccionar' | translate }}</ion-button>
        </ion-item>
      </ion-list>
    </div>

    <div #type class="inactive">
      <h2 style="margin-left: 20px;">
        {{ 'titleCategoria' | translate }}
      </h2>

      <ion-list>
        <ion-item *ngFor="let sectioinArray of TypeArray">
          <ion-avatar slot="start">
            <img src="assets/p.png">
          </ion-avatar>
          <ion-label>
            <div *ngIf="language=='es' else elsecategory_name">
              <h2>{{sectioinArray.category_name}}</h2>
            </div>
            <ng-template #elsecategory_name>
              <h2>{{sectioinArray.category_name_pg}}</h2>
            </ng-template>
          </ion-label>
          <ion-button (click)="seleccionarType(sectioinArray)">{{ 'lblSeleccionar' | translate }}</ion-button>
        </ion-item>
      </ion-list>
    </div>
      -->
    <div #producto class="inactive">
      <h2 style="margin-left: 20px;">
        {{ 'titleProducto' | translate }} - {{micantidad}}
      </h2>
      <ion-card *ngFor="let sectioinArray of ProductArray">
        <ion-card-header>
          <ion-card-title>            
            <div *ngIf="language=='es' else elseproductoxx">
              {{sectioinArray.product_IdCategory.category_name }}  {{sectioinArray.product_code}}  
            </div>
            <ng-template #elseproductoxx>
              {{sectioinArray.product_IdCategory.category_name_pg }}  {{sectioinArray.product_code}}  
            </ng-template>
          </ion-card-title>
        </ion-card-header>
        <img *ngIf="sectioinArray.product_image==''" src="assets/noimagen.png" />
        <!--(error)="updateUrlHome($event, sectioinArray)"-->
        <img *ngIf="sectioinArray.product_image!=''" src="{{ sectioinArray.product_image | rutaarchivo | async }}"  style="width: 100%;" />
        <ion-card-content>
          <div *ngIf="language=='es' else elseproduct_descriptionxx">
            {{sectioinArray.product_description | slice:0:200}}
          </div>
          <ng-template #elseproduct_descriptionxx>
            {{sectioinArray.product_description_pg | slice:0:200}}
          </ng-template>
        </ion-card-content>
        <ion-button (click)="pushPage(sectioinArray)" expand="block">{{ 'btndetalleProducto' | translate }}</ion-button>
      </ion-card>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>
  <div #secundario>
    <h2 #opcion2 class="active" style="margin-left: 20px;width: 100%;" (click)="toggleAccordion()">
      <div style="width: 85%; float: left;">
        {{ 'lblSegmentFilter' | translate }} ({{ SegmentArrayFilter.length }})
      </div>
      <span>&#9660;</span>
    </h2>
    <div #panelsegmento>
      <ion-list>
        <ion-item *ngFor="let sectioinArray of SegmentArrayFilter">
          <ion-avatar slot="start">
            <img src="assets/s.png">
          </ion-avatar>
          <ion-label>
            <div *ngIf="language=='es' else elseidiomsegment_name_pg2">
              <h2>{{sectioinArray.segment_name}}</h2>
            </div>
            <ng-template #elseidiomsegment_name_pg2>
              <h2>{{sectioinArray.segment_name_pg}}</h2>
            </ng-template>
          </ion-label>
          <ion-button (click)="seleccionarProductoPorSegmento(sectioinArray)">{{ 'lblSeleccionar' | translate }}
          </ion-button>
        </ion-item>
      </ion-list>
    </div>

    <h2 #opcion2 class="active" style="margin-left: 20px;width: 100%;" (click)="toggleAccordion()">
      <div style="width: 85%; float: left;">
        {{ 'lblFamilyFilter' | translate }} ({{ FamilyArrayFilter.length }})
      </div>
      <span>&#9660;</span>
    </h2>

    <div #panelfamily>
      <ion-list>
        <ion-item *ngFor="let sectioinArray of FamilyArrayFilter">
          <ion-avatar slot="start">
            <img src="assets/f.png">
          </ion-avatar>
          <ion-label>
            <div *ngIf="language=='es' else elsefamily_name2">
              <h2>{{sectioinArray.family_name}}</h2>
            </div>
            <ng-template #elsefamily_name2>
              <h2>{{sectioinArray.family_name_pg}}</h2>
            </ng-template>
          </ion-label>
          <ion-button (click)="seleccionarProductoPorFamilia(sectioinArray)">{{ 'lblSeleccionar' | translate }}
          </ion-button>
        </ion-item>
      </ion-list>
    </div>

    <h2 #opcion2 class="active" style="margin-left: 20px;width: 100%;" (click)="toggleAccordion()">
      <div style="width: 85%; float: left;">
        {{ 'lblCategoriyFilter' | translate }} ({{ TypeArrayFilter.length }})
      </div>
      <span>&#9660;</span>
    </h2>

    <div #paneltype>
      <ion-list>
        <ion-item *ngFor="let sectioinArray of TypeArrayFilter">
          <ion-avatar slot="start">
            <img src="assets/p.png">
          </ion-avatar>
          <ion-label>
            <div *ngIf="language=='es' else elsecategory_name2">
              <h2>{{sectioinArray.category_name}}</h2>
            </div>
            <ng-template #elsecategory_name2>
              <h2>{{sectioinArray.category_name_pg}}</h2>
            </ng-template>
          </ion-label>
          <ion-button (click)="seleccionarProductoPorType(sectioinArray)">{{ 'lblSeleccionar' | translate }}
          </ion-button>
        </ion-item>
      </ion-list>
    </div>


    <h2 #opcion2 class="active" style="margin-left: 20px;width: 100%;" (click)="toggleAccordion()">
      <div style="width: 85%; float: left;">
        {{ 'lblProductFilter' | translate }} ({{ ProductArrayFilter.length }})
      </div>
      <span>&#9660;</span>
    </h2>
    <div #panelproducto>
      <ion-card *ngFor="let sectioinArray of ProductArrayFilter">
        <ion-card-header>
          <ion-card-title>

            <div *ngIf="language=='es' else elseproductoxx2">
              {{sectioinArray.product_IdCategory.category_name }} {{sectioinArray.product_code}}    
            </div>
            <ng-template #elseproductoxx2>
              {{sectioinArray.product_IdCategory.category_name_pg }} {{sectioinArray.product_code}}  
            </ng-template>

          </ion-card-title>
        </ion-card-header>
        <img *ngIf="sectioinArray.product_image==''" src="assets/noimagen.png" />
        <img *ngIf="sectioinArray.product_image!=''" src="{{ sectioinArray.product_image  | rutaarchivo | async }}" />
        <ion-card-content>
          <div *ngIf="language=='es' else elseproduct_descriptionxx2">
            {{sectioinArray.product_description | slice:0:200}}
          </div>
          <ng-template #elseproduct_descriptionxx2>
            {{sectioinArray.product_description_pg | slice:0:200}}
          </ng-template>
        </ion-card-content>
        <ion-button (click)="pushPage(sectioinArray)" expand="block">{{ 'btndetalleProducto' | translate }}</ion-button>
      </ion-card>
    </div>
  </div>
</ion-content>