<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons (click)="dismiss()" slot="start">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>{{ 'lblinnovationdetalletitle' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header style="padding: 5px;margin-bottom: 20px;margin-top: 10px;">
      <ion-card-title style="font-size: 24px; font-weight: bolder;">{{ data.product_code }}</ion-card-title>
    </ion-card-header>
    <ion-row>
      <ion-col>
        <div>
          {{ 'lblinnovationdetalleRegion' | translate }}
        </div>
      </ion-col>
      <ion-col>
        <div *ngIf="language=='es' else elseproduct_IdRegion">
          {{ data.product_IdRegion.region_name }}
        </div>
        <ng-template #elseproduct_IdRegion>
          <b>{{ data.product_IdRegion.region_name_pg }}pg</b>
        </ng-template>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          {{ 'lblinnovationdetalleFamilia' | translate }}
        </div>
      </ion-col>
      <ion-col>
        <div *ngIf="language=='es' else elseproduct_IdFamily">
          {{ data.product_IdFamily.family_name }}
        </div>
        <ng-template #elseproduct_IdFamily>
          <b>{{ data.product_IdFamily.family_name_pg }}pg</b>
        </ng-template>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          {{ 'lblinnovationdetalleTipo' | translate }}
        </div>
      </ion-col>
      <ion-col>
        <div *ngIf="language=='es' else elseproduct_IdCategory">
          {{ data.product_IdCategory.category_name }}
        </div>
        <ng-template #elseproduct_IdCategory>
          <b>{{ data.product_IdCategory.category_name_pg }}pg</b>
        </ng-template>
      </ion-col>
    </ion-row>
   
    <ion-card-content> 
      <ion-row>
        <ion-col>
          <div>
            {{ 'lblinnovationdetalleNombre' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="language=='es' else elseproduct_name">
            <b>{{ data.product_name }}</b>
          </div>
          <ng-template #elseproduct_name>
            <b>{{ data.product_name_pg }}pg</b>
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lblinnovationdetalleDescripcion' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="language=='es' else elseproduct_description"> 
            <b>{{ data.product_description }}</b>
          </div>
          <ng-template #elseproduct_description>
            <b>{{ data.product_description_pg }}pg</b>
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lblinnovationdetalleSegmentomercado' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="language=='es' else elseproduct_segmento_de_mercado">
            <b>{{ data.product_segmento_de_mercado }}</b>
          </div>
          <ng-template #elseproduct_segmento_de_mercado>
            <b>{{ data.product_segmento_de_mercado_pg }}pg</b>
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lblinnovationdetallebeneficioproducto' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="language=='es' else elseproduct_beneficio">
            <b>{{ data.product_beneficio }}</b>
          </div>
          <ng-template #elseproduct_beneficio>
            <b>{{ data.product_beneficio_pg }}pg</b>
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lblinnovationdetalleformafisica' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="language=='es' else elseproduct_Forma_Fisica">
            <b>{{ data.product_Forma_Fisica }}</b>
          </div>
          <ng-template #elseproduct_Forma_Fisica>
            <b>{{ data.product_Forma_Fisica_pg }}pg</b>
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lblinnovationdetallevehiculo' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="language=='es' else elseproduct_Vehiculo_pg">
            <b>{{ data.product_Vehiculo }}</b>
          </div>
          <ng-template #elseproduct_Vehiculo_pg>
            <b> {{ data.product_Vehiculo_pg }}pg</b>
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lblinnovationdetalleldr' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="language=='es' else elseproduct_LDR">
            <b>{{ data.product_LDR }}</b>
          </div>
          <ng-template #elseproduct_LDR>
            <b>{{ data.product_LDR_pg }}pg</b>
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lblinnovationdetallerecomendacion' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="language=='es' else elseproduct_Recomendation">
            <b>{{ data.product_Recomendation }}</b>
          </div>
          <ng-template #elseproduct_Recomendation>
            <b>{{ data.product_Recomendation_pg }}pg</b>
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lblinnovationdetalleproposito' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="language=='es' else elseproduct_Proposal">
            <b>{{ data.product_Proposal }}</b>
          </div>
          <ng-template #elseproduct_Proposal>
            <b>{{ data.product_Proposal_pg }}pg</b>
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lblinnovationdetalleregulatoria' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="language=='es' else elseproduct_Regulatoria">
            <b>{{ data.product_Regulatoria }}</b>
          </div>
          <ng-template #elseproduct_Regulatoria>
            <b>{{ data.product_Regulatoria_pg }}pg</b>
          </ng-template>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            {{ 'lblinnovationdetalleestrusionpeliculasoplada' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Extrusion_de_peliculas_sopladas | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lblinnovationproduct_Extrusion_plana_de_películas' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Extrusion_plana_de_peliculas | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lblinnovationproduct_Coextrusion_y_Laminacion_de_peliculas_sopladas' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Coextrusion_y_Laminacion_de_peliculas_sopladas | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lblinnovationproduct_soplado' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_soplado | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lblinnovationproduct_Inyeccion_de_Piezas_o_Tapas' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Inyeccion_de_Piezas_o_Tapas | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lblinnovationproduct_Extrusion_de_Perfiles_y_Placas_Termo_formadas' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Extrusion_de_Perfiles_y_Placas_Termo_formadas | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lblinnovationproduct_Extrusion_no_tejido_non_woven_Spunbond' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Extrusion_no_tejido_non_woven_Spunbond | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lblinnovationproduct_Monofilamentos_de_PP' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Monofilamentos_de_PP | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lblinnovationprodcut_Multifilamentos_de_PP' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.prodcut_Multifilamentos_de_PP | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lblinnovationproduct_Extrusion_de_tuberias_alambre_y_cables' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Extrusion_de_tuberias_alambre_y_cables | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lblinnovationproduct_BOPP_multi_capas' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_BOPP_multi_capas | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            {{ 'lblinnovationproduct_Envases_Soplados_multi_capas' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Envases_Soplados_multi_capas | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            {{ 'lblinnovationproduct_Extrusion_de_Perfiles_y_Placas_Termo_formadas_multi_capas' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Extrusion_de_Perfiles_y_Placas_Termo_formadas_multi_capas | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            {{ 'lblinnovationproduct_Extrusion_Pelicula_Plana_cast_Film_para_Rafias_y_Coating' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Extrusion_Pelicula_Plana_cast_Film_para_Rafias_y_Coating | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div>
            {{ 'lblinnovationproduct_Extrusion_de_Monofilamentos_Multifilamentos' | translate }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <b>{{ data.product_Extrusion_de_Monofilamentos_Multifilamentos | formatCheck}}</b>
          </div>
        </ion-col>
      </ion-row>     


    </ion-card-content>

  </ion-card>

</ion-content>
