<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'titlepallete' | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>  
  <ion-card *ngFor="let sectioinArray of PalletsArray">
    <ion-item>
      <ion-icon name="color-palette-outline" slot="start"></ion-icon>
      <ion-label>{{ sectioinArray.respuesta.palette_name }}</ion-label>
      
    </ion-item>  
    <ion-card-content>
      <b>{{ 'titlepais' | translate }} </b> {{ sectioinArray.respuesta.palette_IdPais.pais_name }}
      <br>
      <ion-button (click)="pushPage(sectioinArray)" fill="outline" slot="end">{{ 'detallepaletacolores' | translate }}</ion-button>
    </ion-card-content>
  </ion-card>  
</ion-content>
