<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ 'titleSlowMovers' | translate }}</ion-title>
    <!-- Side menu button -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar placeholder="{{ 'lblslowbuscar' | translate }}" [(ngModel)]="searchString" (ionInput)="getItems($event)"
      (ionClear)="onClear($event)" (ionCancel)="onCancel($event)"></ion-searchbar>

    <div>
      <h3 style="margin-left: 20px;" (click)="toggleAccordion()">
        <div style="width: 90%; float: left;">
          {{ 'lblslowfiltropais' | translate }}<div *ngIf="selected!=''" style="width: 40%; height: 30px;float:right ; margin-right: 10px;">
            {{ selected }}</div>
        </div>
        <span *ngIf="isMenuOpen">&#9650;</span>
        <span *ngIf="!isMenuOpen">&#9660;</span>
      </h3>
      <div [ngClass]="this.isMenuOpen ? 'active' : 'inactive'">
        <ion-list>
          <ion-list-header lines="inset" *ngFor="let sectioinArray of paises">
            <div style="width: 80%; height: 30px;  ">
              <pan style="padding: 10px; margin-top: 10px;vertical-align: middle;"> {{sectioinArray}}</pan>
            </div>
            <ion-button (click)="seleccionPais(sectioinArray)"> {{ 'lblslowbtnseleccionar' | translate }}</ion-button>
          </ion-list-header>
        </ion-list>
      </div>
      <h3 style="margin-left: 20px;" (click)="toggleAccordionFamilia()">
        <div style="width: 90%; float: left;">
          {{ 'lblslowfiltrofamilia' | translate }}<div *ngIf="selected!=''" style="width: 40%; height: 30px;float:right ; margin-right: 10px;">
            {{ selectedFamilia }}</div>
        </div>
        <span *ngIf="isMenuOpenFamilia">&#9650;</span>
        <span *ngIf="!isMenuOpenFamilia">&#9660;</span>
      </h3>
      <div [ngClass]="this.isMenuOpenFamilia ? 'active' : 'inactive'">
        <ion-list>
          <ion-list-header lines="inset" *ngFor="let sectioinArray of familias">
            <div style="width: 80%; height: 30px;  ">
              <pan style="padding: 10px; margin-top: 10px;vertical-align: middle;"> {{sectioinArray}}</pan>
            </div>
            <ion-button (click)="seleccionFamilia(sectioinArray)"> {{ 'lblslowbtnseleccionar' | translate }}</ion-button>
          </ion-list-header>
        </ion-list>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>



  <ion-card *ngFor="let sectioinArray of datos">
    <ion-card-header>
      <ion-card-title>{{sectioinArray.Item}}</ion-card-title>
    </ion-card-header>
    <!--<img src="assets/slow.png" style="width: 80px;" />-->
    <ion-card-content>
      {{ 'lblslowItem' | translate }} : {{sectioinArray.Item}}<br>
      {{ 'lblslowDescripcion' | translate }} : {{sectioinArray.Description}}<br>
      {{ 'lblslowPais' | translate }} : {{sectioinArray.Pais}}<br>
      {{ 'lblslowFamilia' | translate }} : {{sectioinArray.Family}}<br>
      {{ 'lblslowPlanta' | translate }} : {{sectioinArray.Plant}}<br>
      {{ 'lblslowLote' | translate }} : {{sectioinArray.Lote}}<br>
      {{ 'lblslowOnHan' | translate }} : {{sectioinArray.OnHan}}<br>
      {{ 'lblslowUm' | translate }} : {{sectioinArray.UM}}<br>
      {{ 'lblslowAplicacion' | translate }} : {{sectioinArray.Aplication}}<br>
      {{ 'lblslowEstado' | translate }} : {{sectioinArray.State}}<br>
    </ion-card-content>
    <ion-button *ngIf="sectioinArray.State" (click)="pushPage(sectioinArray)" expand="block">{{ 'lblslowbtnCambiarEstado' | translate }}</ion-button>
    <ion-button *ngIf="!sectioinArray.State" disabled color="danger" expand="block">{{ 'lblslowbtnEstadonodisponible' | translate }}</ion-button>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>