<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons (click)="dismiss()" slot="start">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>{{ 'lblfiltrostitle' | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="!isprincial" color="primary">
    <ion-searchbar placeholder="{{ 'lblbuscarholder' | translate }}" [(ngModel)]="searchString"
      (ionInput)="getItems($event)" (ionClear)="onClear($event)" (ionCancel)="onCancel($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #panel0 class="active">
    <ion-list>
      <ion-list-header lines="inset">
        <ion-label>Segment</ion-label>
        <ion-button (click)="filtro(1)">Seleccionar</ion-button>
      </ion-list-header>
      <ion-list-header lines="inset">
        <ion-label>Familia</ion-label>
        <ion-button (click)="filtro(2)">Seleccionar</ion-button>
      </ion-list-header>
      <ion-list-header lines="inset">
        <ion-label>Tipo de Producto</ion-label>
        <ion-button (click)="filtro(3)">Seleccionar</ion-button>
      </ion-list-header>
      <ion-list-header lines="inset">
        <ion-label>Otros</ion-label>
        <ion-button (click)="filtro(4)">Seleccionar</ion-button>
      </ion-list-header>
    </ion-list>
  </div>
  <div #panel4 class="inactive">
    <ion-list>
      <ion-item *ngFor="let item of radio_list">
        <ion-label>{{ item.id | translate }}</ion-label>
        <ion-checkbox slot="start" [(ngModel)]="item.checked"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
  <div #panel3 class="inactive">
    <ion-list>
      <ion-item *ngFor="let item of TypeArray">
        <ion-label>
          <div *ngIf="language=='es' else elsecategory_name">
            <h2>{{item.category_name}}</h2>
          </div>
          <ng-template #elsecategory_name>
            <h2>{{item.category_name_pg}}</h2>
          </ng-template>
        </ion-label>
        <ion-checkbox slot="start" [(ngModel)]="item.checked"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
  <div #panel2 class="inactive">
    <ion-list>
      <ion-item *ngFor="let item of FamilyArray">
        <ion-label>
          <div *ngIf="language=='es' else elsefamily_name">
            <h2>{{item.family_name}}</h2>
          </div>
          <ng-template #elsefamily_name>
            <h2>{{item.family_name_pg}}</h2>
          </ng-template>
        </ion-label>
        <ion-checkbox slot="start" [(ngModel)]="item.checked"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
  <div #panel1 class="inactive">
    <ion-list>
      <ion-item *ngFor="let item of SegmentArray">
        <ion-label>
          <div *ngIf="language=='es' else elseidiomsegment_name_pg">
            <h2>{{item.segment_name}}</h2>
          </div>
          <ng-template #elseidiomsegment_name_pg>
            <h2>{{item.segment_name_pg}}</h2>
          </ng-template>
        </ion-label>
        <ion-checkbox slot="start" [(ngModel)]="item.checked"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer *ngIf="!isprincial">
  <ion-row>
    <ion-col>
      <div>
        <ion-button (click)="agregarFiltro()" expand="block">{{ 'lblfiltrosbtnagregarfiltro' | translate }}</ion-button>
      </div>
    </ion-col>
    <ion-col>
      <div>
        <ion-button (click)="cancelarFiltro()" expand="block">{{ 'lblfiltrosbtnCancel' | translate }}</ion-button>
      </div>
    </ion-col>
  </ion-row>

</ion-footer>